Source: wb-scada-client
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-scada-client
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, mosquitto, python-mosquitto, wb-mqtt-db, python-mqttrpc, python-requests
Description: sensor-tools SCADA client
